
.containerLight, .containerDark {
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(197, 195, 195);
  background: linear-gradient(to bottom, #b086d5, #301a4b);
  border-radius: 2rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  margin: 2rem auto;
  max-width: 900px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffe8ff;
}

.description {
  font-size: 1.2rem;
  line-height: 1.7;
  color: #e6d5f7;
  text-align: justify;
}

.containerLight {
  background: linear-gradient(to bottom, #801d46, #4a0723);
  /* background: linear-gradient(5deg, #4a0723, #801d46, #b6376c); */
}

.containerDark {
  background: linear-gradient(to bottom, #4A001F, #790133);
  /* background: linear-gradient(5deg, #4A001F, #790133, #b9014e); */
}