.horoscopeBlockLight,
.horoscopeBlockDark {
  flex: 0 0 260px;
  max-width: 300px;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  line-height: 1.4;
  font-family: var(--font-main);
}

.horoscopeBlockLight {
  background: rgb(145, 144, 144);
  color: var(--text-light);
}

.horoscopeBlockDark {
  background: #4A001F;
  color: var(--text-dark);
}

@media (max-width: 1024px) {
  .horoscopeBlockLight,
  .horoscopeBlockDark {
    max-width: 100%;
    margin-bottom: 1rem;
  }
} 