
.containerLight, .containerDark {
  padding: 2rem;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  color: aliceblue;
  line-height: 1.6;
}

.containerLight {
  background-color: rgb(87, 87, 87);
}
 .containerDark {
  background-color: rgb(41, 41, 41);
}

.weekBlockLight {
  color: #414141;
  background: #868686;
  /* border-left: 5px solid #a974d2; */
}

.weekBlockDark {
  background: rgb(93, 93, 93);
  /* border-left: 5px solid #a974d2;
  border-bottom: 5px solid #a974d2; */
}
.weekBlockLight, .weekBlockDark {
  margin: 1.5rem ;
  padding: 1rem;
  border-radius: 11px;
  border-right: 5px solid #790133;
  border-bottom: 5px solid #790133;
}