
.containerLight, .containerDark {
  padding: 2rem;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.containerLight {
  background-color: #5b3c6c;
}
 .containerDark {
  background-color: #2f1a3b;
}

.weekBlockLight {
  color: #2f1a3b;
  background: #e8dbf7;
  /* border-left: 5px solid #a974d2; */
}

.weekBlockDark {
  background: #635076;
  /* border-left: 5px solid #a974d2;
  border-bottom: 5px solid #a974d2; */
}
.weekBlockLight, .weekBlockDark {
  margin: 1.5rem ;
  padding: 1rem;
  border-radius: 11px;
  border-right: 5px solid #a974d2;
  border-bottom: 5px solid #a974d2;
}