
.wrapperLight, .wrapperDark {
  padding: 2rem;
  border-radius: 2rem;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin: 2rem auto;
}

.heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.2rem;
  color: #fff5f8;
}

.text {
  font-size: 1.2rem;
  color: #f3dff9;
  line-height: 1.7;
  text-align: justify;
}

.wrapperLight {
  background: linear-gradient(to bottom, #801d46, #4a0723);
  /* background: linear-gradient(5deg, #4a0723, #801d46, #b6376c); */
}

.wrapperDark {
  background: linear-gradient(to bottom, #4A001F, #790133);
  /* background: linear-gradient(5deg, #4A001F, #790133, #b9014e); */
}